.pageheader {
    background-color: var(--primary-background-color-gray);
    box-shadow: 0px 25px 20px 0px rgba(0, 0, 0, 0.45);
    color: var(--primary-text-color-white);
    padding-inline: 2rem;

    .text-container {
        max-width: 1440px;
        max-height: 223px;
    }

    .header-title {
        font-size: 2rem;
        font-weight: 600;
        padding-block-start: 2rem;
        padding-block-end: 1rem;
    }

    .header-text {
        padding-block-end: 1.5rem;
    }

    .header-children {
        padding-block-end: 2rem;
    }
}