.site-header {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  gap: 16px;
  width: max;

  color-scheme: light dark;
  color: var(--primary-text-color-white);
  background-color: var(--primary-background-color-gray);
  text-transform: uppercase;

  .logoImage {
    height: 32px;
    width: 230px;
  }


  select {
    background-color: var(--primary-background-color-gray);
    color: var(--primary-text-color-white);
    font-size: 16px;
  }

  .language-icon {
    width: 20px;
    height: 20px;
    color: var(--primary-text-color-white);
  }
}
