.siteHeader {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  gap: 16px;
  width: 100%;
  color-scheme: light dark;
  color: var(--color-white);
  text-transform: uppercase;
}

.logoImage {
  height: 32px;
  width: 230px;
}


a:visited {
  color: #999999;
}

a:hover {
  color: #CCCCCC;
}
